body{
    background-color: rgb(95, 63, 23);
}
.container{

background-image: linear-gradient(to bottom rgba(248,246,219,1) 30%, rgba(245,249,139,1) 44%);
}
.box{
    border: solid 10px seashell;

}
h1{
 
font-family: 'Dancing Script', cursive;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}